.invoice {
    padding: 20px;
    // background-color: #ffcccc; // Light red background
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    //   max-width: 1000px;
    //   margin: 0 auto;
  
    &__title {
      font-size: 1.8rem;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
      color: #b30000; // Darker red for the title
    }
  
    &__message {
      font-size: 1.2rem;
      text-align: center;
      color: #7f0000; // Medium red for the message
    }
  
    &__table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
  
      th,
      td {
        padding: 10px 15px;
        text-align: center;
        border: 1px solid #dd3333; // Red border for the table
      }
  
      th {
        background-color: #b30000; // Dark red for the header
        color: white;
        font-weight: 600;
        font-size: 12px;
        white-space: nowrap;
      }
  
      td {
        background-color: #fff; // Keep the td background white for contrast
      }
  
      .invoice__row:nth-child(even) {
        background-color: #ffe6e6; // Light red for even rows
      }
  
      .invoice__row:hover {
        background-color: #ffcccc; // Hover effect with light red
      }
    }
  
    &__total {
      font-size: 1.6rem;
      font-weight: bold;
      text-align: right;
      color: #b30000; // Darker red for the total
      margin-top: 10px;
    }
  }
  