.speaker-profile-container {
  .profile-container-img {
    display: flex;
    flex-direction: row;
    // justify-content: center;
    align-items: center;
    padding-left: 40px;
  }
  .profile-section {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: start;
    margin-top: 30px;
  }

  .profile-name {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .profile-bio {
    color: #6c757d;
    line-break: anywhere;
    width: 300px;
  }
  .profile-image {
    width: 220px; /* Adjust the size as needed */
    height: 220px; /* Same as width to make it a perfect circle */
    border-radius: 50%; /* Makes the element circular */
    overflow: hidden; /* Ensures the content inside does not overflow the border */
    object-fit: cover; /* Ensures the image fits inside the circle */
    border: 2px solid #ccc; /* Optional: Adds a border */
  }
  .profile-files {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    padding: 20px;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    width: 60%;
  }
  .topic-section {
    padding-top: 13px;
    position: relative;
  }

  .topics-container-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .topic-input-container {
    display: grid;
    grid-template-columns: 1fr 15px;
    grid-column-gap: 20px;
    grid-row-gap: 15px;
  }
  .add-topic-btn {
    border: none;
    background-color: rgba(255, 251, 251, 0.4862745098);
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    cursor: pointer;
    color: #b10000;
    width: 100px;
    position: absolute;
    top: 0px;
    right: -10px;
  }
  .topic-title {
    padding-bottom: 5px;
  }
  .delete-icon {
    padding-top: 6px;
  }

  .attendance-title {
    font-size: 14px;
    color: rgb(159, 0, 0);
  }
  .notice {
    font-style: normal;
    color: rgb(159, 0, 0);
  }
  .register-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    button {
      width: 150px;
      background-color: #ef233c;
      color: #fff;
      padding: 8px 12px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-right: 30px;
      margin-bottom: 30px;
    }
  }
}
